/*Login page CSS*/
.forgot-password{
    float:right; 
    font-size: 80%; 
    position: relative; 
    top:-10px;
}
#loginbox{
    margin-top:50px;
}
#loginbox .panel-body{
    padding-top:30px
}
.login-input-field{
    margin-bottom: 25px
}
.item-box {
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    border-radius: 2px;
}
.item-box .entry-title,.item-box .entry-summary,.item-box .proof,.item-box .author {
    margin-left: 10px;
    margin-right: 10px
}

.item-box .cover {
    position: relative
}

.item-box .cover:hover .thumb:before {
    opacity: 1
}

.item-box .cover .thumb img {
    border-radius: 2px 2px 0 0
}

.item-box .cover .thumb:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    content: '';
    opacity: 0;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.item-box .cover .price {
    position: absolute;
    left: 20px;
    bottom: 20px;
    font-size: 18px;
    line-height: 1em;
    background-color: #3c3f40;
    border-radius: 2px;
    color: #fff;
    padding: 7px 8px;
    letter-spacing: 1px
}

.item-box .cover .wishlist {
    position: absolute;
    right: 15px;
    top: 17px;
    line-height: 17px;
    font-size: 24px;
    border-color: transparent;
    background-color: transparent;
    color: #fff;
    opacity: 0.6;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease
}

.item-box .cover .wishlist.in {
    opacity: 1
}

.item-box .cover .in {
    border-color: transparent;
    background-color: transparent;
    color: #ff5a5f
}

.item-box .cover .wishlist:hover {
    opacity: 1
}

.item-box .entry-title {
    margin-top: 10px;
    margin-bottom: 0
}

.item-box .entry-title a {
    color: #000
}

.item-box .entry-title a:hover {
    color: #3abfdf
}

.item-box .entry-summary {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 13px;
    color: #999
}

.item-box .proof {
    margin-top: 8px;
    padding-top: 0px;
    overflow: hidden;
    border-top: 1px solid rgba(0,0,0,0.06)
}

.item-box .proof .rating {
    float: right;
    margin-top: 3px
}

.item-box .proof .rating i {
    font-size: 20px
}

.item-box .proof .user-count {
    float: left;
    margin-top: 4px;
    color: #999
}

.item-box .proof .user-count i {
    font-weight: bold
}

.item-box .author {
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid rgba(0,0,0,0.06);
    overflow: hidden
}

.item-box .author .avatar {
    width: 34px;
    height: 34px
}

.item-box .author .info {
    display: inline-block;
    margin-left: 10px;
    margin-top: 2px;
    line-height: 14px
}

.item-box .author .info a {
    display: block;
    font-size: 14px;
    color: #000
}

.item-box .author .info a:hover {
    color: #3abfdf
}

.item-box .author .info p {
    margin: 4px 0 0;
    font-size: 12px;
    color: #999
}
.item-box .cover img {
    width: 100%;
    height: 180px;
}
.pagination-alignment{
    text-align:center;
}
.display-inline{
    display: inline;
}
.searchBox{
    float: right;
}
.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 300px;
  height: 35px;
  background: #fff;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-1 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-1 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 8px;
  z-index: 1;
  color: #4f5b66;
}
.header-div{
    margin-bottom: 10px;
}