 <div class="tab-pane fade in active" id="infoTab">
			  			  <form class="custom-form" name="createClientForm" novalidate>
			  			    <div class="row">
			  			     	<div class="col-sm-6">
								  <div class="form-group col-sm-12">
								    <label class="col-sm-4 required-field" for="companyName">Company Name</label>
								   	<div class="col-sm-8">
								    	<input type="text" class="form-control" name="companyName" ng-minlength="8" maxlength="255" ng-model="clientDataObj.clientName" ng-class="{'submitted': submitted}" required>
                                        <span class="color-red" ng-show="submitted && createClientForm.companyName.$error.required">Company name is required.</span>
                                        <span class="color-red"  ng-show="createClientForm.companyName.$dirty && createClientForm.companyName.$error.minlength">Client name is too short</span>
								   	</div>
								  </div>
								  <div class="form-group col-sm-12">
								    <label class="col-sm-4 required-field" for="countryName">Country</label>
								    <div class="col-sm-8">
								      <select class="form-control" required ng-class="{'submitted': submitted}" ng-model="clientDataObj.countryId"> 
                                            <option value="1">Australia</option>
                                            <option value="2">Bhutan</option>
                                            <option value="3">France</option>
                                            <option value="4">Germany</option>
                                            <option value="5">Hong Kong</option>
										    <option value="6">India</option>
                                            <option value="7">Japan</option>
										    <option value="8">united kingdom</option>
                                            <option value="9">United States of America</option>
										    <option value="10">united arab emirates</option>
                                            
									  </select>
									 </div>
								  </div>
								  <div class="form-group col-sm-12">
								    <label class="col-sm-4" for="companyName">Company Logo</label>
								    <div class="col-sm-8">
								    	<input type="button" class="btn btn-success" value="upload" ng-click="clickFileInput()"><br>
                                        <input id="uploadLogo" type="file"  name="file" onchange="angular.element(this).scope().uploadFile(this.files)"/>
								    	<img id="imagePreview" class="company-logo" ng-src="{{CompanyLogo}}">
                                        
								    </div>
								  </div>
							 	</div>
							 
							 <div class="col-sm-6">
							 		<label class="col-sm-4" for="companyName">Addresses</label>
								    <div class="col-sm-8">
								    	<input type="button" class="btn btn-success" id="addAddress" value="Add" data-toggle="modal" data-target="#addAddressModal"><br>
								    </div>
								    <div id="addedAddress" class="addedAddress scrollbar">
								        <add-address></add-address>
								    </div>
							 </div>
							 </div>
							</form>
                             <div class="bottom-buttons col-sm-12">
							 	<input type="button" class="btn btn-default" name="cancelButton" value="Cancel" ui-sref="clients">
							 	<input type="submit" class="btn btn-success" name="saveButton" ng-click="submitted= true; postData()" value="Save">
				            </div>
			  			</div>
<!-- Modal to add address -->
    <div id="addAddressModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="close()">&times;</button>
                </div>
                <div class="modal-body">
                     <form class="custom-form" novalidate name="addressform">
			  			    <div class="row">
								  <div class="col-sm-6 form-group">
								    <label class="col-sm-4 required-field" for="street1">Street1 </label>
								   	<div class="col-sm-8">
								    	<input type="text" class="form-control" ng-model="address.Street1" name="street1" ng-class="{'submitted': submitted}" required>
                                        <span class="color-red" ng-show="submitted && addressform.street1.$error.required">required</span>
								   	</div>
								</div>
								  <div class="col-sm-6 form-group">
								    <label class="col-sm-4 required-field" for="street2">Street2 </label>
								   	<div class="col-sm-8">
								    	<input type="text" class="form-control" ng-model="address.Street2" name="street2" ng-class="{'submitted': submitted}" required>
                                        <span class="color-red" ng-show="submitted && addressform.street2.$error.required">required</span>
								   	</div>
								  </div>
							</div>
							<div class="row">
								  <div class="form-group col-sm-6">
								    <label class="col-sm-4" for="city">City </label>
								   	<div class="col-sm-8">
								    	<input type="text" class="form-control" ng-model="address.City">
								   	</div>
								  </div>
								  <div class="form-group col-sm-6">
								    <label class="col-sm-4" for="state">State </label>
								   	<div class="col-sm-8">
								    	<input type="text" class="form-control" ng-model="address.State">
								   	</div>
								  </div>
							</div>
							<div class="row">
								  <div class="form-group col-sm-6">
								    <label class="col-sm-4" for="country">Country </label>
								   	<div class="col-sm-8">
								    	<select class="form-control"  convert-to-number>
										    <option value="1">USA</option>
										    <option value="2">India</option>
										    <option value="3">UK</option>
										    <option value="4">UAE</option>
									   </select>
								   	</div>
								  </div>
								  <div class="col-sm-6 form-group">
								    <label class="col-sm-4 required-field" for="zipcode" name="zip">Zip </label>
								   	<div class="col-sm-8">
								    	<input type="text" class="form-control" ng-model="address.Zip" name="zip" ng-class="{'submitted': submitted}" maxlength="8" required>
                                        <span class="color-red" ng-show="submitted && addressform.zip.$error.required">required</span>
								   	</div>
								  </div>
							</div>
							<div class="row">
			  			     	<div class="col-sm-6">
								  <div class="form-group">
								    <label class="col-sm-4 required-field" for="phoneNumber">Phone Number </label>
								   	<div class="col-sm-8">
								    	<input type="text" class="form-control" ng-model="address.PhoneNumber" ng-class="{'submitted': submitted}" maxlength="15" required valid-number>
                                        <span class="color-red" ng-show="submitted && addressform.zip.$error.required">required</span>
								   	</div>
								  </div>
								</div>
						    </div>
						</form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" ng-click="submitted=true ; addAddress()" value="Add">
                </div>
            </div>
        </div>
    </div>


